/* 폰트 */
@font-face {
	font-family: 'pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(./fonts/Pretendard-ExtraBold.woff2) format('woff2');
}

@font-face {
	font-family: 'pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(./fonts/Pretendard-Regular.woff2) format('woff2');
}

/* 애니메이션 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-14px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

body {
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'pretendard';
  color: white;
  height: 100vh;
}

#date {
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  text-shadow: 0px 0px 15px #ff3898;
}

.container {
  width: 60%;
  max-width: 550px;
  height: 60%;
  border: 0.3px solid #ff3898;
  background: #ffffff1a;
  box-shadow: 0 0 70px #691940;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 40px 40px;
  opacity: 0; 
  animation: fadeInUp 1s ease forwards;
}

.title {
  padding: 0 10px 20px 0;
  display: flex;
  justify-content: space-between;
}

h2, #todo-count {
  color: #24d46d;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
  text-shadow: 0px 0px 10px #24d46d;
}

form {
  padding-right: 10px;;
}

input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 5px;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  font-size: 18px;
  margin-bottom: 20px;
}

input:focus, input:hover {
  border-bottom: 1px solid #f854a3a2;
}

span {
  color: white;
  font-weight: 400;
}

ul {
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 0;
  opacity: 0;
  animation: fadeInDown 1s ease forwards;
  animation-delay: 0.8s;
}


ul li {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff85;
  border-radius: 20px;
  margin-bottom: 13px;
  padding: 5px;
  position: relative;
  align-items: center;
  background-color: #ffffff11;
}

ul span {
  all: unset;
  font-size: 18px;
}

ul span.done {
  text-decoration: line-through;
  color: #a3a3a3;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.158);
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e640916b;
  border-radius: 4px; 
}

.delBtn {
  all: unset;
  color: #29e678;
  font-size: 30px;
  text-shadow: 0px 0px 10px #ffffff;
  position: absolute;
  right: 15px;
  bottom: 4px;
  cursor: pointer;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=128620), pointer;
}

.delBtn:hover{
  text-shadow: 0px 0px 13px #ff3898;
}

.doneBtn {
  all: unset;
  font-size: 25px;
  color: #ff3898;
  text-shadow: 0px 0px 5px #ff3898;
  margin: 0 10px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=128618), pointer;
  /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=92171), pointer; */
}
